:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .25rem;
}

.name {
  font-size: 1rem;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.id {
  font-size: .75rem;
  color: #cccccc;
  opacity: .68;
}
