.mat-card {
  &.clickable {
    cursor: pointer;
  }

  .mat-card-subtitle {
    min-height: calc(1rem + 1px);
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .mat-card-content.no-actions {
    margin-bottom: 0;
  }

  .mat-card-actions {
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    justify-content: flex-end;
  }
}
