.mat-card {
  cursor: pointer;

  &:hover {
    box-shadow: -1px 3px 7px 0 rgba(0,0,0,.4);
  }

  .mat-card-content.no-actions {
    margin-bottom: 0;
  }

  .mat-card-actions {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
