<mat-toolbar color="primary" class="header">
  <button
    mat-flat-button
    color="primary"
    disableRipple
    class="title"
    routerLink="/"
  >
    {{title}}
  </button>
  <nav>
    <button
      *ngFor="let nav of [
        {name: 'Dashboard', link: '/dashboard'},
        {name: 'Heroes', link: '/heroes'}
      ]"
      mat-flat-button
      [routerLink]="nav.link"
      routerLinkActive #a="routerLinkActive"
      [color]="a.isActive ? 'accent' : 'primary'"
    >
      {{nav.name}}
    </button>
  </nav>
  <app-hero-search></app-hero-search>
  <app-messages></app-messages>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
<mat-toolbar color="secondary" class="footer">
  <ng-container *portalOutlet="'footer'"></ng-container>
</mat-toolbar>
