.header {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 1rem;

  .title {
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }
}

nav {
  display: flex;
  gap: .25rem;
}

.content {
  padding: 2rem;
}
