<mat-toolbar color="primary" class="header">
  <nav>
    <button
      mat-flat-button
      color="primary"
      disableRipple
      class="title"
      routerLink="/"
    >
      {{title}}
    </button>
    <button
      *ngFor="let nav of [
        {name: 'Dashboard', link: '/dashboard'},
        {name: 'Heroes', link: '/heroes'}
      ]"
      mat-flat-button
      [routerLink]="nav.link"
      routerLinkActive #a="routerLinkActive"
      [color]="a.isActive ? 'accent' : 'primary'"
    >
      {{nav.name}}
    </button>
  </nav>
  <app-messages></app-messages>
</mat-toolbar>
<router-outlet></router-outlet>
