:host {
  font-size: 1rem;
  display: flex;
  align-items: center;
  background-color: rgba(255,255,255,.3);
  border-radius: 4px 4px 0 0;
}

:host ::ng-deep {
  .mat-form-field-appearance-fill .mat-form-field-flex {
    padding-top: 0;
    padding-bottom: 0;
  }

  .mat-form-field-infix {
    padding: .5rem 0;
    border-top: none;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-underline {
    bottom: 0;
  }
}
